xml_schema/recetas_schema.xml

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="recetas">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="receta" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="_id" type="xs:string"/>
                            <xs:element name="Name" type="xs:string"/>
                            <xs:element name="user_id" type="xs:string"/>
                            <xs:element name="Time" type="xs:string"/>
                            <xs:element name="Category" type="xs:string"/>
                            <xs:element name="Ingredients" type="xs:string"/>
                            <xs:element name="Rating" type="xs:integer"/>
                            <xs:element name="Instructions" type="xs:string"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
